#mainBody
{
height:100%;
width:180%;
position:fixed;
top:0px;
left:-80%;
background-color:red;
}
#inventory
{
width:56%;
height:100%;
position:absolute;
left:0px;
top:0px;
}
#offInventory
{
position:absolute;
width:79.3%;
height:100%;
left:0;
top:0;
}
#inventoryTitle
{
  position:relative;
  left:30px;
}
#equippedTitle
{
  position:relative;
  left:30px;
}
#topDiv
{
  position:absolute;
  top:5%;
  width: 90%;
}
#bottomDiv
{
  position:absolute;
  top:60%;
  width: 90%;
}
.draggable:hover {
  background: grey;
}
#topInventory
{
  position: relative;
  left: 50px;
  width: 97%;
  height: 300px;
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  overflow: auto;
  z-index: 0;
}
#bottomInventory
{
  position: relative;
  left: 50px;
  width: 97%;
  height: 200px;
  margin: 0;
  padding: 0; 
  list-style-type: none; 
  overflow: auto;
  z-index: 0;
}
.itemList 
{ 
  float: left;
  margin: 3px 5px 3px 5px; 
  padding: 2px; 
  width: 100px; 
  height: 100px; 
  font-size: 4em; 
  text-align: center;
}
#inventoryButton
{
background-color:#ddd;
color:#666;
width:15%;
height:10%;
position:absolute;
right:3%;
bottom:5%;
}
#pagesDiv
{
position:relative;
bottom: 0px;
}
#AvatarStats
{
width:15%;
height:10%;
position:absolute;
right:3%;
top:5%;
text-align:center;
}
#rightHalf
{
background-color:white;
width:44%;
height:100%;
position:absolute;
left:56%;
top:0%;
}
#middleSection
{
width:75%;
height:100%;
position:absolute;
left:0px;
top:0px;
}
#textEditor
{
background-color:white;
width:100%;
height:100%;
position:absolute;
left:0px;
top:0px;
}
#break
{
background-color:#eee;
width:100%;
height:12%;
position:absolute;
left:0px;
top:88%;
}
#stardiv
{
	width: 50%;
	height: 50%;
  position:absolute;
  right:15px;
  top:15px;
}
#star
{
  position:relative;
  top:-3px;
}
#countsDiv
{
  position:absolute;
  left:10px;
  top:6px;
}
#breakButton
{
  position:absolute;
  left:30%;
  top:12.5%;
  width:40%;
  height:75%;
  z-index: 1;
}
#topRightCorner
{
background-color:red;
width:25%;
height:10%;
position:absolute;
left:75%;
top:0px;
}
#notifications
{
width:25%;
height:100%;
position:absolute;
left:75%;
top:0%;
}
#notificationBoxes
{
position:relative;
top:55px;
height:90%;
width:100%;
}
.notificationBox
{
position:relative;
width:100%;
height:20%;
background: #999;
background: -moz-linear-gradient(#999, #ccc);
background: -webkit-linear-gradient(#999, #ccc);
background: -o-linear-gradient(#999,#ccc);
}
.notificationImage
{
position:absolute;
width:30%;
height:50%;
top:25%;
left:10%;
}
.notificationText
{
position:absolute;
width:50%;
height:70%;
top:15%;
left:50%;
}
#documentSection
{
  margin-top:-10px;
}
#textEditorTextArea
{
position:absolute;
top:125px;
left:10%;
bottom:12%;
display:block;
width:80%;
border: none;
overflow: auto;
outline: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
resize:none;
}

.modalDialog
{
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
height:100%;
width:100%;
background:rgba(0,0,0,0.8);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}
.modalDialog:target
{
  opacity:1;
  pointer-events:auto;
}
.modalDialog > div
{
  width:500px;
  position: relative;
  margin:10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff,#999);
}

#settingsDiv
{
  position:absolute;
  right:10px;
  top:-30px;
  width:90%;
  z-index: 1;
}

#settingsOpen
{
  background-color:#666;
  color:#ddd;
}

#closeButton
{
  position:relative;
  left:25%;
  height:30%;
  width:50%;
}

#gameBlock
{
  height:300px;
}
#rewardImg
{
  position:absolute;
  height:260px;
  width:420px;
  display:none;
}
#rewardImg > img
{
  position:absolute;
  height:100%;
  width:100%;
}
#rewardImg > p
{
  position:absolute;
  top:45%;
  left:25%;
  z-index:9999;
}

#gambleButton
{
  position:relative;
  left:25%;
  height:30%;
  width:50%;
}

#newNote
{
  position: fixed;
  bottom:30px;
  right:10px;
  width:18%;
}