#mainBody
{
height:100%;
width:180%;
position:fixed;
top:0px;
left:-80%;
background-color:red;
}
#inventory
{
background-color:blue;
width:56%;
height:100%;
position:absolute;
left:0px;
top:0px;
}
#inventoryButton
{
width:15%;
height:10%;
position:absolute;
right:3%;
bottom:5%;
}
#AvatarStats
{
width:15%;
height:10%;
position:absolute;
right:3%;
top:5%;
text-align:center;
}
#rightHalf
{
background-color:green;
width:44%;
height:100%;
position:absolute;
left:56%;
top:0%;
}
#middleSection
{
width:75%;
height:100%;
position:absolute;
left:0px;
top:0px;
}
#textEditor
{
background-color:white;
width:100%;
height:100%;
position:absolute;
left:0px;
top:0px;
}
#break
{
background-color:grey;
width:100%;
height:12%;
position:absolute;
left:0px;
top:88%;
}
#stardiv
{
	width: 50%;
	height: 50%;
  position:absolute;
  right:15px;
  top:10px;
}
#star
{
  position:relative;
  top:5px;
}
#counts
{
  position:absolute;
  left:10px;
  top:10px;
}
#topRightCorner
{
background-color:red;
width:25%;
height:10%;
position:absolute;
left:75%;
top:0px;
}
#notifications
{
background-color:#222;
width:25%;
height:100%;
position:absolute;
left:75%;
top:0%;
}
#textEditorTextArea
{
display:block;
width:100%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
height:100%;
}

.modalDialog
{
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background:rgba(0,0,0,0.8);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}
.modalDialog:target
{
  opacity:1;
  pointer-events:auto;
}
.modalDialog > div
{
  width:500px;
  position: relative;
  margin:10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff,#999);
}

#settingsOpen
{
  position:fixed;
  right:10px;
  top:10px;
  z-index: 1;
}